<div class="container">



  <div class="submit-bar">
    <form action="/urls" method="post">
      <input id="url" name="long_url" type="text">
      <input type="submit" value="Shorten">
    </form>

    <span id="result">dummy url</span>
  </div>

    <div id="url-list">
      <ul class="shortlinks">
        <li><a href="">/8baac7</a></li>
        <li><a href="">/44kdf2</a></li>
        <li><a href="">/028jjj</a></li>
      </ul>
    </div>

</div>
