<div class="container">



  <div class="submit-bar">
    <form action="/urls" method="post">
      <input id="url" name="long_url" type="text">
      <input type="submit" value="Shorten">
    </form>

    <span id="result">dummy url</span>
  </div>

    <div id="url-list">
      <ul class="shortlinks">
        <% @urls.each do |u| %>
          <li><a href="<%= u.short_url %>"><%= u.short_url[/\/.+\z/] %></a></li>
        <% end %>
      </ul>
    </div>

</div>
